<div class="container-" style="background: #19c0fa; padding: 0; margin: O">
	<div class="row item_center flexbox">
		<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 flexbox3" style="padding: 1em">		<%=image_tag("qfn_contenupedagogique.png", :class=> 'image_medium')%>
		</div>
		<div class="col-lg-7 col-md-7 col-sm-11 col-xs-12 flexbox2">
					
				<h1 style="font-family: 'Roboto'; color: #ffffff; padding: 5%; margin: 0">Contenus pédagogiques<br />interactifs sur mesure</h1>
				
		</div>
	</div>
</div>

<div class="container" style="background: #19c0fa; width: 100%; margin: O">
	<div class="row">
		<div class="col-lg-12 col-sm-12 col-xs-12" style="padding: 2%; background: linear-gradient(45deg, #ed741f, #FF9B00)">
			<h2 class="center" style="font-family: 'Roboto'; color: #ffffff; text-align: justify;">Nous créons des contenus interactifs et digitaux. E-learning autonome ou accompagné, micro Learning, quiz et autoévaluation, modules interactifs pour dynamiser le présentiel...</h2>
		</div>
	</div>
</div>

<div class="container" style="background: #19c0fa; width: 100%; margin: O">
	<div class="row">
		<div class="col-lg-12 col-sm-12 col-xs-12 flexbox4" style="padding-right: 0; padding-top: 2%">
			<div class="form_folder_right" style="padding: 0; padding-right: 10px">		
				<h2 class="title_folder" style="float: right">Conception</h2>
			</div>
		</div>
		<div class="col-lg-12 col-sm-12 col-xs-12 flexbox" style="align-items: flex-end; height: 190px; background: #ffffff">
				<%=image_tag("qfn_contenupedagogique_conception_ingenierie.png", :class=> 'img-responsive')%>
				<%=image_tag("qfn_contenupedagogique_conception_ecriture.png", :class=> 'img-responsive')%>
				<%=image_tag("qfn_contenupedagogique_conception_storyboard.png", :class=> 'img-responsive')%>
		</div>
		<div class="col-lg-12 col-sm-12 col-xs-12" style="padding: 0">
			<%=image_tag("qfn_contenupedagogique_conception_photodraft.png", :class=> 'img-responsive', style: 'width: 100%')%>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-sm-12 col-xs-12 flexbox5" style="padding-left: 0; padding-top: 2%">
			<div class="form_folder_left" style="padding: 0; padding-left: 10px">
				<h2 class="title_folder">Production</h2>				
			</div>
			</div>
		<div class="col-lg-12 col-sm-12 col-xs-12 flexbox" style="align-items: flex-end; height: 180px; background: #ffffff">
				<%=image_tag("qfn_contenupedagogique_production_appareilphoto.png", :class=> 'img-responsive')%>
				<%=image_tag("qfn_contenupedagogique_production_pcfix.png", :class=> 'img-responsive')%>
				<%=image_tag("qfn_contenupedagogique_production_camera.png", :class=> 'img-responsive')%>
		</div>
		<div class="col-lg-12 col-sm-12 col-xs-12 flex_center" style="padding-top: 2%">
			<h3 style="font-family: 'Roboto'; color: #ffffff; text-align: center;">Reportage photo et vidéo<br>
			<br>
			Création d'animations et d'illustrations<br>
			<br>
			Montage des écrans<br>
			<br></h3>
		</div>
		<div class="col-lg-12 col-sm-12 col-xs-12 flex_center">
			<h4 style="font-family: 'Roboto'; color: #ffffff">En adéquation avec votre culture et identité d'entreprise.</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-sm-12 col-xs-12 flexbox4" style="padding-right: 0; padding-top: 2%">
			<div class="form_folder_right" style="padding: 0; padding-right: 10px">
				<h2 class="title_folder" style="float: right">Diffusion</h2>
			</div>
		</div>
		<div class="col-lg-12 col-sm-12 col-xs-12 flex_center" style="padding-top: 5%; background: #ffffff">
			<%=image_tag("qfn_contenupedagogique_diffusion_multiplateforme.png", :class=> 'img-responsive')%>
		</div>
		<div class="col-lg-12 col-sm-12 col-xs-12 flex_center">
				<h3 style="font-family: 'Roboto'; color: #534963">Vos apprenants sont mobiles ?</h3>
		</div>
		<div class="col-lg-12 col-sm-12 col-xs-12 flex_center">
				<h4 style="font-family: 'Roboto'; color: #ffffff">Nos modules le sont aussi !
				<br>
				<br></h4>
		</div>
	</div>
</div>