<div class="wrapper_gradient">
<div class="container" id="container">
	<div class="row">
			
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-md-offset-2 flex_column">
				<div class="flex_bottom" style="padding-top: 2em; padding-bottom: 1em">
				<%=image_tag("qfn_contenupedagogique.png", :class=> 'image_medium')%>
					
				<h1 style="font-family: 'Roboto'; font-size: 20pt; color: #534963; padding-left: 1em; margin: 0">Contenus pédagogiques<br>interactifs sur mesure</h1>
				</div>
				<div class="spacer_title"></div>
				<h2 class="center" style="width: 60vw; font-family: 'Roboto';font-style: italic; color: #534963; text-align: justify; font-size: 16pt; padding-bottom: 3em">Nous créons des contenus interactifs et digitaux. E-learning autonome ou accompagné, micro Learning, quiz et autoévaluation, modules interactifs pour dynamiser le présentiel...</h2>
				
		</div>
	</div>


	<div class="row" style="background: linear-gradient(45deg, rgba(255,255,255,0.4), rgba(255,255,255,0))">
		<div class="col-lg-12 col-sm-12 col-xs-12 flex_column" style="padding-right: 0; padding-top: 2%">
					
				<h2 style="font-family: 'Roboto'; color: #534963">Conception</h2>			
				<div class="spacer"></div>
		</div>
		<div class="col-lg-12 col-sm-12 col-xs-12 flex_top" style="padding: 2em">
			<div class="flex_column" style="padding-top: 2em">
				<%=image_tag("qfn_contenupedagogique_conception_ingenierie.png", :class=> 'img-responsive')%>
				<h5 style="font-size: 18pt; color: #534963; font-family: 'Roboto', sans-serif; padding-top: 1em">Brief</h5>
				<p style="width: 15vw; font-size: 12pt; color: #534963; font-family: 'Roboto', sans-serif; text-align: center;">Nous élaborons ensemble le cahier des charges de votre digital learning.</p>
			</div>
			<div class="flex_column" style="padding-top: 2em">
				<%=image_tag("qfn_contenupedagogique_conception_ecriture.png", :class=> 'img-responsive')%>
				<h5 style="text-align: center; font-size: 18pt; color: #534963; font-family: 'Roboto', sans-serif; padding-top: 1em">Scénario</h5>
				<p style="width: 15vw; font-size: 12pt; color: #534963; font-family: 'Roboto', sans-serif; text-align: center;">Notre équipe rédige un scénario unique et personnalisé pour vos apprenants.</p>
			</div>
			<div class="flex_column" style="padding-top: 2em">
				<%=image_tag("qfn_contenupedagogique_conception_storyboard.png", :class=> 'img-responsive')%>
				<h5 style="font-size: 18pt; color: #534963; font-family: 'Roboto', sans-serif; padding-top: 1em">Storyboard</h5>
				<p style="width: 15vw; font-size: 12pt; color: #534963; font-family: 'Roboto', sans-serif; text-align: center;">Nous validons ensemble le scénarion à l'aide de storyboard.</p>
			</div>
		</div>
	</div>


	<div class="row"  style="background: linear-gradient(-45deg, rgba(255,255,255,0.4), rgba(255,255,255,0))">
		<div class="col-lg-12 col-sm-12 col-xs-12 flex_column" style="padding-left: 0; padding-top: 2%">
			<h2 style="font-family: 'Roboto'; color: #534963">Production</h2>			
				<div class="spacer"></div>			
		</div>
		<div class="col-lg-12 col-sm-12 col-xs-12 flex_top" style="padding: 2em">
			<div class="flex_column">
				<%=image_tag("qfn_contenupedagogique_production_appareilphoto.png", :class=> 'img-responsive')%>
				<h5 style="font-size: 18pt; color: #534963; font-family: 'Roboto', sans-serif; padding-top: 1em">Photographe</h5>
				<p style="width: 15vw; font-size: 12pt; color: #534963; font-family: 'Roboto', sans-serif; text-align: center;">Nous travaillons avec des photographes professionnels pour réaliser des réportages sur vos sites.</p>
			</div>
			
			<div class="flex_column">
				<%=image_tag("qfn_contenupedagogique_production_pcfix.png", :class=> 'img-responsive')%>
				<h5 style="font-size: 18pt; color: #534963; font-family: 'Roboto', sans-serif; padding-top: 1em">Infographiste</h5>
				<p style="width: 15vw; font-size: 12pt; color: #534963; font-family: 'Roboto', sans-serif; text-align: center;">Créations d'animations et d'illustrations en adéquation avec votre culture et identité d'entreprise.</p>
			</div>
				
			<div class="flex_column">
				<%=image_tag("qfn_contenupedagogique_production_camera.png", :class=> 'img-responsive')%>
				<h5 style="font-size: 18pt; color: #534963; font-family: 'Roboto', sans-serif; padding-top: 1em">Cadreur</h5>
				<p style="width: 15vw; font-size: 12pt; color: #534963; font-family: 'Roboto', sans-serif; text-align: center;">Nous travaillons avec des professionnels de la vidéo pour la réalisation de vos vidéos de formation.</p>
			</div>
		</div>
	</div>
	
		
		
		
	
	<div class="row"  style="background: linear-gradient(45deg, rgba(255,255,255,0.4), rgba(255,255,255,0))">
		<div class="col-lg-12 col-sm-12 col-xs-12 flex_column" style="padding-left: 0; padding-top: 2%">
			<h2 style="font-family: 'Roboto'; color: #534963">Diffusion</h2>			
				<div class="spacer"></div>	
		</div>
		
		<div class="col-lg-12 col-sm-12 col-xs-12 flex_center">
				<h3 style="font-family: 'Roboto'; color: #534963"><br>Vos apprenants sont mobiles ?</h3>
		</div>
		<div class="col-lg-12 col-sm-12 col-xs-12 flex_center">
				<h4 style="font-family: 'Roboto'; color: #534963">Nos modules le sont aussi !
				<br></h4>
		</div>
		<div class="col-lg-12 col-sm-12 col-xs-12 flex_center" style="padding: 5%">
			<%=image_tag("qfn_contenupedagogique_diffusion_multiplateforme.png", :class=> 'img-responsive')%>
		</div>
		
	</div>
</div>
</div>