	<div class="container-" style="background: #0093e8; padding: 0; margin: O">
		<div class="row item_center flexbox">
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 flexbox3" style="padding: 1em">
				<%=image_tag("qfn_santesecurite.png", :class=> 'image_medium')%>
			</div>
			<div class="col-lg-7 col-md-7 col-sm-11 col-xs-12 flexbox2">
					
					<h1 style="font-family: 'Roboto'; color: #ffffff; padding: 2%; margin: 0">Santé-sécurité au travail</h1>
				
			</div>
		</div>
	</div>

	<div class="container" style="background: #0093e8; width: 100%; margin: O">
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-xs-12" style="padding: 2%; background: linear-gradient(45deg, #ed741f, #FF9B00)">
				<h2 class="center" style="font-family: 'Roboto'; color: #ffffff; text-align: center;">Réduisez les accidents de travail et améliorez le bien-être<br>de vos collaborateurs et partenaires au quotidien</h2>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 flex_column" style="padding: 2em">
				<%=image_tag("qfn_santesecurite_grandesenseignes.png", :class=> 'img-responsive image_small')%>
				<h3 style="font-family: 'Roboto'; color: #ffffff; text-align: center;">Grande Surface</h3>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 flex_column" style="padding: 2em">
				<%=image_tag("qfn_santesecurite_industrieagroalimentaire.png", :class=> 'img-responsive image_small')%>
				<h3 style="font-family: 'Roboto'; color: #ffffff; text-align: center;">Industrie Agroalimentaire</h3>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 flex_column" style="padding: 2em">
				<%=image_tag("qfn_santesecurite_industriepetrochimique.png", :class=> 'img-responsive image_small')%>
				<h3 style="font-family: 'Roboto'; color: #ffffff; text-align: center;">Industrie Pétrochimique</h3>
			</div>
			<div class="ol-lg-offset-2 col-md-offset-2 col-lg-4 col-md-4 col-sm-6 col-xs-6 flex_column" style="padding: 2em">
				<%=image_tag("qfn_santesecurite_pharmaceutique.png", :class=> 'img-responsive image_small')%>
				<h3 style="font-family: 'Roboto'; color: #ffffff; text-align: center;">Industrie Pharmaceutique</h3>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 flex_column" style="padding: 2em">
				<%=image_tag("qfn_santesecurite_siteslogistiques.png", :class=> 'img-responsive image_small')%>
				<h3 style="font-family: 'Roboto'; color: #ffffff; text-align: center;">Sites Logistiques</h3>
			</div>
		</div>
	</div>

	<div class="container" style="background: #ffffff; width: 100%; margin: O">
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-xs-12 flexbox" style="height: 100px;">
				<h2 class="center" style="font-family: 'Roboto'; color: #534963; text-align: justify;">Nous créons vos accueils sécurité :</h2>
			</div>
			<div class="col-lg-12 col-sm-12 col-xs-12" style="padding: 0; height: 50em; overflow: hidden;">
				<%=image_tag("qfn_santesecurite_photo.png", :class=> 'img-responsive', style: 'width: 100%')%>
			</div>
		</div>
	</div>