<div class="wrapper_triangle_inverse">
<div class="container" id="container">

    <div class="row">
            
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-md-offset-2 flex_column">
            <div class="flex_bottom" style="padding-top: 2em; padding-bottom: 1em">
                <%=image_tag("QFN_PlateformeLms.png", :class=> 'image_medium')%>
                    
                <h1 style="font-family: 'Roboto'; font-size: 20pt; color: #534963; padding-left: 1em; margin: 0">La plateforme LMS</h1>
            </div>

            <div class="spacer_title"></div>

            <h2 class="center" style="width: 60vw; font-family: 'Roboto'; color: #534963; text-align: justify-all; font-size: 16pt; padding-bottom: 3em">Elise de son petit nom, est la plateforme créée par Vision 3.</h2>
        </div>

    </div>


    <div class="row" style="background: linear-gradient(45deg, rgba(255,255,255,0.4), rgba(255,255,255,0))">
        <div class="col-lg-12 col-sm-12 col-xs-12 flex_column" style="padding-right: 0; padding-top: 2%">
            <h2 style="font-family: 'Roboto'; color: #534963">Ses avantages</h2>           
            <div class="spacer"></div>
        </div>

        <div class="col-lg-12 col-sm-12 col-xs-12 flex_top" style="padding: 2em">

            <div class="flex_column" style="padding-top: 2em">
                <%=image_tag("QFN_PlateformeLms-Normes.png", :class=> 'img-responsive')%>
                <h5 style="width: 15vw; text-align: center; font-size: 18pt; color: #534963; font-family: 'Roboto', sans-serif; padding-top: 1em">Aux normes</h5>
            </div>

            <div class="flex_column" style="padding-top: 2em">
                <%=image_tag("QFN_PlateformeLms-Parametre.png", :class=> 'img-responsive')%>
                <h5 style="width: 15vw; text-align: center; font-size: 18pt; color: #534963; font-family: 'Roboto', sans-serif; padding-top: 1em">Personnalisée</h5>
            </div>

            <div class="flex_column" style="padding-top: 2em">
                <%=image_tag("QFN_PlateformeLms-Simple.png", :class=> 'img-responsive')%>
                <h5 style="width: 15vw; text-align: center; font-size: 18pt; color: #534963; font-family: 'Roboto', sans-serif; padding-top: 1em">Simple d'usage</h5>
            </div>

            <div class="flex_column" style="padding-top: 2em">
                <%=image_tag("QFN_PlateformeLms-CMS.png", :class=> 'img-responsive')%>
                <h5 style="width: 15vw; text-align: center; font-size: 18pt; color: #534963; font-family: 'Roboto', sans-serif; padding-top: 1em">CMS intégré</h5>
            </div>
        </div>
    </div>

    <div class="row" style="background: linear-gradient(45deg, rgba(255,255,255,0), rgba(255,255,255,0.4))">
        <div class="col-lg-12 col-sm-12 col-xs-12 flex_column" style="padding-right: 0; padding-top: 2%">                    
            <h2 style="font-family: 'Roboto'; color: #534963">Multi-devices</h2>           
            <div class="spacer"></div>
        </div>

        <div class="col-lg-12 col-sm-12 col-xs-12 flex_center" style="padding: 5%">
            <%=image_tag("qfn_contenupedagogique_diffusion_multiplateforme.png", :class=> 'img-responsive')%>
        </div>
    </div>

    <div class="row" style="background: linear-gradient(45deg, rgba(255,255,255,0.4), rgba(255,255,255,0))">
        <div class="col-lg-12 col-sm-12 col-xs-12 flex_column" style="padding-right: 0; padding-top: 2%">                    
            <h2 style="font-family: 'Roboto'; color: #534963">Réactivité</h2>           
            <div class="spacer"></div>
        </div>
       
        <div class="col-lg-12 col-sm-12 col-xs-12 flex_center">
            <h3 style="font-family: 'Roboto'; color: #534963; text-align: center;"><br>Nous sommes reconnus pour notre réactivité<br>et capacité à proposer des solutions.<br><br></h3>
        </div>
    </div>
  
</div>
</div>