<div class="wrapper_triangle">
<div class="container" id="container">	
	<div class="row" style="height: calc(100vh - 70px); background: linear-gradient(45deg, rgba(255,255,255,0.4), rgba(255,255,255,0))">

		<div class="col-lg-12 col-sm-12 col-xs-12 flex_column" style="padding-right: 0; padding-top: 2%">	
			<h2 style="font-family: 'Roboto'; color: #534963">Nos clients</h2>			
			<div class="spacer"></div>
		</div>

		<div class="col-lg-12 col-sm-12 col-xs-12 flex_column" style="margin-top: 1em;">
			<h3 style="font-family: 'Roboto';font-style: italic; color: #534963"><br>"Ils nous font confiance..."</h3>
		</div>

		<div class="col-lg-12 col-sm-12 col-xs-12 flex_top" style="padding: 0; margin-top: 1em;">
			<div class="flex_column" style="width: 10vw; padding-top: 2em">
				<%=image_tag("logo_afton.png", :class=> 'img-responsive')%>
			</div>

			<div class="flex_column" style="width: 10vw; padding-top: 2em">
				<%=image_tag("logo_arcelor.png", :class=> 'img-responsive')%>
			</div>

			<div class="flex_column" style="width: 10vw; padding-top: 2em">
				<%=image_tag("logo_astrazneca.png", :class=> 'img-responsive')%>
			</div>

			<div class="flex_column" style="width: 10vw; padding-top: 2em">
				<%=image_tag("logo_bp.png", :class=> 'img-responsive')%>
			</div>

			<div class="flex_column" style="width: 10vw; padding-top: 2em">
				<%=image_tag("logo_coatex.png", :class=> 'img-responsive')%>
			</div>

			<div class="flex_column" style="width: 10vw; padding-top: 2em">
				<%=image_tag("logo_dow.png", :class=> 'img-responsive')%>
			</div>
		</div>

		<div class="col-lg-12 col-sm-12 col-xs-12 flex_top" style="padding: 0; margin-top: 1em;">
			<div class="flex_column" style="width: 10vw; padding-top: 2em">
				<%=image_tag("logo_lhoist.png", :class=> 'img-responsive')%>
			</div>

			<div class="flex_column" style="width: 10vw; padding-top: 2em">
				<%=image_tag("logo_mreal.png", :class=> 'img-responsive')%>
			</div>

			<div class="flex_column" style="width: 10vw; padding-top: 2em">
				<%=image_tag("logo_nyrstar.png", :class=> 'img-responsive')%>
			</div>

			<div class="flex_column" style="width: 10vw; padding-top: 2em">
				<%=image_tag("logo_riotinto.png", :class=> 'img-responsive')%>
			</div>

			<div class="flex_column" style="width: 10vw; padding-top: 2em">
				<%=image_tag("logo_schering.png", :class=> 'img-responsive')%>
			</div>

			<div class="flex_column" style="width: 10vw; padding-top: 2em">
				<%=image_tag("logo_total.png", :class=> 'img-responsive')%>
			</div>
		</div>

</div>
</div>