<div class="wrapper_triangle">
<div class="container" id="container">
	<div class="row">
			
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-md-offset-2 flex_column">
			<div class="flex_bottom" style="padding-top: 2em; padding-bottom: 1em">
				<%=image_tag("qfn_santesecurite.png", :class=> 'image_medium')%>
					
				<h1 style="font-family: 'Roboto'; font-size: 20pt; color: #534963; padding-left: 1em; margin: 0">Santé-sécurité au travail</h1>
			</div>

			<div class="spacer_title"></div>

			<h2 class="center" style="width: 60vw; font-family: 'Roboto'; color: #534963; text-align: center; font-size: 16pt; padding-bottom: 3em">Réduisez les accidents de travail et améliorez le bien-être<br>de vos collaborateurs et partenaires au quotidien.</h2>
				
		</div>

	</div>


	<div class="row" style="background: linear-gradient(45deg, rgba(255,255,255,0.4), rgba(255,255,255,0))">
		<div class="col-lg-12 col-sm-12 col-xs-12 flex_column" style="padding-right: 0; padding-top: 2%">					
			<h2 style="font-family: 'Roboto'; color: #534963">Quelque soit votre secteur d'activité...</h2>			
			<div class="spacer"></div>
		</div>

		<div class="col-lg-12 col-sm-12 col-xs-12 flex_top" style="padding: 2em">
			<div class="flex_column" style="width: 10vw; padding-top: 2em">
				<%=image_tag("qfn_santesecurite_grandesenseignes.png", :class=> 'img-responsive')%>
				<h5 style="text-align: center; font-size: 18pt; color: #534963; font-family: 'Roboto', sans-serif; padding-top: 1em">Grande<br>Distribution</h5>
				
			</div>

			<div class="flex_column" style="width: 10vw; padding-top: 2em">
				<%=image_tag("qfn_santesecurite_industrieagroalimentaire.png", :class=> 'img-responsive')%>
				<h5 style="text-align: center; font-size: 18pt; color: #534963; font-family: 'Roboto', sans-serif; padding-top: 1em">Industrie Agroalimentaire</h5>

			</div>
			<div class="flex_column" style="width: 10vw; padding-top: 2em">
				<%=image_tag("qfn_santesecurite_industriepetrochimique.png", :class=> 'img-responsive')%>
				<h5 style="text-align: center; font-size: 18pt; color: #534963; font-family: 'Roboto', sans-serif; padding-top: 1em">Industrie Pétrochimique</h5>
			
			</div>
			<div class="flex_column" style="width: 10vw; padding-top: 2em">
				<%=image_tag("qfn_santesecurite_pharmaceutique.png", :class=> 'img-responsive')%>
				<h5 style="text-align: center; font-size: 18pt; color: #534963; font-family: 'Roboto', sans-serif; padding-top: 1em">Industrie Pharmaceutique</h5>
			
			</div>
			<div class="flex_column" style="width: 10vw; padding-top: 2em">
				<%=image_tag("qfn_santesecurite_siteslogistiques.png", :class=> 'img-responsive')%>
				<h5 style="text-align: center; font-size: 18pt; color: #534963; font-family: 'Roboto', sans-serif; padding-top: 1em">Site Logistiques</h5>
			
			</div>
		</div>
	</div>


	<div class="row"  style="background: linear-gradient(-45deg, rgba(255,255,255,0), rgba(255,255,255,0.4))">
		<div class="col-lg-12 col-sm-12 col-xs-12 flex_column" style="padding-left: 0; padding-top: 2%">
			<h2 style="font-family: 'Roboto'; color: #534963">...Nous créons vos outils d'accueil sécurité</h2>
			<div class="spacer"></div>			
		</div>

		<div class="col-lg-12 col-sm-12 col-xs-12 flex_right bg_camille" style="height: 650px; padding: 0; margin-top: 2em;">
			<div class="flex_column" style="background: rgba(73,22,161,0.8); height: 650px; width: 50%">
				<H3 style="font-family: 'Roboto'; color: #ffffff">Présentation du site</H3>
				<H3 style="font-family: 'Roboto'; color: #ffffff">Principaux risques</H3>
				<H3 style="font-family: 'Roboto'; color: #ffffff">Obligation ou interdictions</H3>
				<H3 style="font-family: 'Roboto'; color: #ffffff">Consignes</H3>
				<H3 style="font-family: 'Roboto'; color: #ffffff">Permis</H3>
				<H3 style="font-family: 'Roboto'; color: #ffffff">EPI</H3>
				<H3 style="font-family: 'Roboto'; color: #ffffff">...</H3>
			</div>
		</div>
	</div>	
	
	<div class="row"  style="background: linear-gradient(45deg, rgba(255,255,255,0.4), rgba(255,255,255,0))">
		<div class="col-lg-12 col-sm-12 col-xs-12 flex_column" style="padding-top: 2%">
			<div style="margin-top: 2em">
				<h2 style="font-family: 'Roboto'; color: #534963">Quelque soit votre projet,/h2>
			</div>
			<h3 style="font-family: 'Roboto'; color: #534963">nous vous accompagne du scénario au déploiement.</h3>			
			<div class="spacer"></div>	
		</div>
		
		<div class="col-lg-12 col-sm-12 col-xs-12 flex_column" style="margin-top: 2em;">
			<%=image_tag("QFN_SanteSecurite-PictoClef.png", :class=> 'img-circle')%>
			<h2 style="font-family: 'Roboto'; color: #534963"><br>Une prestation sur mesure et clefs en mains</h2>
		</div>

		<div class="col-lg-12 col-sm-12 col-xs-12 flex_column">
			<h4 style="font-family: 'Roboto'; color: #534963; text-align: center;">Audit, contenu de formation, outil de suivi, supports de diffusion,<br>formation des équipes à l'outil, plan d'action et de communication<br>pour l'adhésion du plus grand nombre à votre démarche.
			<br><br><br></h4>
		</div>		
	</div>

</div>
</div>