<div class="wrapper_triangle_inverse">
<div class="container" id="container">
	
	<div class="row">	
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-md-offset-2 flex_column">
			<div class="flex_bottom" style="padding-top: 2em; padding-bottom: 1em">
			<%=image_tag("nuage_mots.png", :class=> 'img-responsive')%>
			</div>		
		</div>
	</div>

	<div class="row" style="background: linear-gradient(45deg, rgba(255,255,255,0.4), rgba(255,255,255,0))">
		<div class="col-lg-12 col-sm-12 col-xs-12 flex_column" style="padding-right: 0; padding-top: 1%">		
			<h2 style="font-family: 'Roboto'; color: #534963">Qui sommes-nous ?</h2>			
			<div class="spacer"></div>
		</div>
		
		<div class="col-lg-12 col-sm-12 col-xs-12 flex_column">
			<h4 style="font-family: 'Roboto'; color: #534963; text-align: justify; margin-top: 2em; padding-left: 10vw; padding-right: 10vw">Créée en 1999, Vision 3 accompagne ses clients dans la création de contenus de formation et/ou de sensibilisation santé-sécurité.
			<br>
			Nous proposons à nos clients notre propre application LMS hébergée aux normes pour assurer le management, le suivi et la traçabilité des actions de sensibilisation ou de formation.
			<br>
			<br>
			Equipe courte et agile, où chacun est expert de son domaine, nous sommes reconnus pour la qualité de notre accompagnement et la pertinence pédagogique et audiovisuelle de nos productions.
			<br><br><br></h4>
		</div>
	</div>

	<div class="row" style="background: linear-gradient(45deg, rgba(255,255,255,0), rgba(255,255,255,0.4))">
		<div class="col-lg-12 col-sm-12 col-xs-12 flex_column" style="padding-right: 0; padding-top: 1%">	
			<h2 style="font-family: 'Roboto'; color: #534963">Notre philosophie</h2>			
			<div class="spacer"></div>
		</div>

		<div class="col-lg-12 col-sm-12 col-xs-12 flex_column" style="margin-top: 1em;">
			<h3 style="font-family: 'Roboto';font-style: italic; color: #534963"><br>"La simplicité et l'authenticité dans nos relations"</h3>
		</div>

		<div class="col-lg-12 col-sm-12 col-xs-12 flex_column">
			<h4 style="font-family: 'Roboto'; color: #534963; text-align: justify; margin-top: 2em; padding-left: 10vw; padding-right: 10vw">L'apprenant c'est vous, c'est lui, c'est nous : il est au coeur de la formation et notre objectif c'est qu'il passe un moment agréable, au cours duquel il aura compris son intérêt, compris les essentiels et la manière de les appliquer à son poste de travail.
			<br><br><br></h4>
		</div>
	</div>

	<div class="row"  style="background: linear-gradient(-45deg, rgba(255,255,255,0.4), rgba(255,255,255,0))">
		<div class="col-lg-12 col-sm-12 col-xs-12 flex_column" style="padding-left: 0; padding-top: 2%">
			<h2 style="font-family: 'Roboto'; color: #534963">Notre équipe</h2>			
			<div class="spacer"></div>			
		</div>

		<div class="col-lg-12 col-sm-12 col-xs-12 flex_top" style="padding: 0; margin-top: 2em;">
			<div class="flex_column" style="width: 10vw; padding-top: 2em">
				<%=image_tag("Julie.png", :class=> 'img-responsive')%>
				<h5 style="text-align: center; font-size: 18pt; color: #534963; font-family: 'Roboto', sans-serif; padding-top: 1em">Julie</h5>
				<p style="width: 15vw; font-size: 12pt; color: #534963; font-family: 'Roboto', sans-serif; text-align: center;">Petit résumé/description par l'intéressé</p>	
			</div>


			<div class="flex_column" style="width: 10vw; padding-top: 2em">
				<%=image_tag("Nico.png", :class=> 'img-responsive')%>
				<h5 style="text-align: center; font-size: 18pt; color: #534963; font-family: 'Roboto', sans-serif; padding-top: 1em">Nicolas</h5>
				<p style="width: 15vw; font-size: 12pt; color: #534963; font-family: 'Roboto', sans-serif; text-align: center;">Petit résumé/description par l'intéressé</p>
			</div>
		</div>

		<div class="col-lg-12 col-sm-12 col-xs-12 flex_top" style="padding: 0; margin-top: 2em;">
			<div class="flex_column" style="width: 10vw; padding-top: 2em">
				<%=image_tag("Mathieu.png", :class=> 'img-responsive')%>
				<h5 style="text-align: center; font-size: 18pt; color: #534963; font-family: 'Roboto', sans-serif; padding-top: 1em">Mathieu</h5>
				<p style="width: 15vw; font-size: 12pt; color: #534963; font-family: 'Roboto', sans-serif; text-align: center;">Petit résumé/description par l'intéressé</p>
			</div>

			<div class="flex_column" style="width: 10vw; padding-top: 2em">
				<%=image_tag("Yamina.png", :class=> 'img-responsive')%>
				<h5 style="text-align: center; font-size: 18pt; color: #534963; font-family: 'Roboto', sans-serif; padding-top: 1em">Yamina</h5>
				<p style="width: 15vw; font-size: 12pt; color: #534963; font-family: 'Roboto', sans-serif; text-align: center;">Petit résumé/description par l'intéressé</p>
			</div>

			<div class="flex_column" style="width: 10vw; padding-top: 2em">
				<%=image_tag("Flo.png", :class=> 'img-responsive')%>
				<h5 style="text-align: center; font-size: 18pt; color: #534963; font-family: 'Roboto', sans-serif; padding-top: 1em">Florian</h5>
				<p style="width: 15vw; font-size: 12pt; color: #534963; font-family: 'Roboto', sans-serif; text-align: center;">Petit résumé/description par l'intéressé</p>
			</div>
		</div>
	</div>
	
</div>
</div>
