

<%page_title%>

<div class="container orange_nav flexbox_menu" style="padding-left: 0">
  
	 <div class="circle"></div>
  
            <div class="menu">
                <ul>
                    
						        <% @links.each do |l|  %>
							      <li><%= link_to "#{l[0]}" do %>
	    					    <%= l[1] %></li>
	    					    
	    				
	    				<%end%>
	    			<%end%>
                </ul>
            </div>                      
            <div class="burger hid">
                <div class="x"></div>
                <div class="y"></div>
                <div class="z"></div>
            </div>
    
  





	


 
  	<ul class="hid_menu" id="nav"><% @links.each do |l|  %>
      <% if "/#{l[0]}" == request.env['PATH_INFO']%>
        <li class="act">
      <%else%>
        <li>
      <%end%>
        <%= link_to "#{l[0]}" do %>
          <%= l[1] %></li>
        <%end%>
      <%end%>
  	</ul>
  

  <a href="/">
	<div style="position: absolute; top: 10px; right: 2vh">
		<%=image_tag("header_logo3.png", :class=> 'logo_nav')%>
	</div>
	</a>
	<div style="width: 100%; padding: 0; margin: 0; height: 5px; position: absolute; top: 70px; left: 0px; background: #4916A1"></div>
</div>


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 <%= javascript_include_tag 'application'%>




